{% extends '_base.html' %} {% block title %} Matrix - Login page {% endblock %}
{% block content %}

<style>
    .container {
        min-height: 100vh;
    }
</style>

<section class="container d-flex flex-column justify-content-center">
    <section class="row">
        <section class="col-4 mx-auto">
            {% comment %} <h1>{{ title }}</h1> {% endcomment %}
        
            <form class="d-flex flex-column" method="POST" action="">
                {% csrf_token %}
                {% for input in form %}
                   <label class="mt-3 mb-1"> {{ input.label }}</label>
                   {{ input }}
                {% endfor %}
        
                <button class="btn btn-primary mt-4">Log in</button>
            </form>

            <hr />

            <a href="{% url 'register' %}">
                <button class="btn btn-outline-success w-100">Create an account</button>
            </a>
        </section>
    </section>
</section>

{% endblock %}
